.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
}
.footer span{
    font-size: 1.1rem;
    font-weight: bold;
    color:#f96022 ;
}
.icon{
    width: 2rem ;
}
@media(max-width:555px){
    .footer span{
        font-size: 0.9rem;
    }
}