.container{
    display: flex;
}
.container p{
    padding: 20px;
    margin: 10px 20px;
    color:#f96022 ;
} 
@media(max-width:555px){
    .container p{
        padding: 1cap;
        margin: 5px 10px;
    }
}