.container{
   position: relative;
   min-width: 300px;
    max-width: 1400px;
   min-height: 100vh;
   width: 80%;
   background: #f1f6fc;
   margin: auto;
   margin-top: 6rem;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border-radius: 5px;
}
.header{
    margin: 20px 30px;
}
.banner{
    width: 70%;
}
.main{
    display: flex;
    flex-direction: row-reverse;
}
.text{
    position:absolute;
    top: 25%;
    left: 0;
    margin:50px 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text h1{
    width: fit-content;
    margin-bottom: 30px;
    font-size: 2rem;
}
.text p{
    color: grey;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 30px;
    width: 300px;
}
.text button{
    background-color:#f96022 ;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.8rem;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: all 0.2s linear;
}
.reasume{
    background-color:#23875f;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.8rem;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: all 0.2s linear;
}
.text button a{
    color: #fff;
}
.text a{
     margin-top: 30px;
}
.reasume:hover{
    background-color: #b8daca;
}
.text button:hover{
    background-color: #cd4109;
}
@media(max-width:768px){
    .container{
        width: 90%;
        margin-top: 3rem;
    }
    .text{
        position:absolute;
        top: 15%;
        left: 0;
    }
    .banner{
        width: 100%;
    }
    .text a{
        margin-top: 10px;
   }
}
@media(max-width:555px){
    .container{
        width: 95%;
        margin-top: 1rem;
    }
    .text{
        top: 15%;
        left: 0;
    }
    .banner{
        margin-top: 14rem;
        width: 100%;
    }
}