.container{
    position: relative;
   width: 80%;
   background: #f1f6fc;
   margin: auto;
   margin-top: 6rem;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border-radius: 5px;
}
@media(max-width:768px){
    .container{
        width: 90%;
        margin-top: 3rem;
    }
}
@media(max-width:555px){
    .container{
        width: 95%;
        margin-top: 1rem;
    }
}