* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 10px;
  background-color: #cfe2de;
}

a {
  text-decoration: inherit;
}